.menu{
    width: 98%;
    height: auto;
    text-align: center;
    font-size: 22px;
    margin: 20px;
    padding: 5px;
    /* border: 1.5px solid  #EC407A; */
    /* border-radius: 20px; */
}

.menu .menu-item{
    display: inline-block;
    padding: 10px;
    background-color: #EC407A;
    border: transparent;
}

.menu-item:hover {
    background-color: #333;
    color: #EC407A;
    transition: 0.3s;
}

.menu-item a{
    text-decoration: none;
    transition: 0.3s;
    color: #000;
}


.menu-item:hover a{
    color:#EC407A
}