{% load static %}
<!DOCTYPE html>
<html lang="fa">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<style>
		@font-face {
		font-family: 'Vazir';
		src: url('../fonts/Vazir.eot');
		src: local('../fonts/Vazir'), url('../fonts/Vazir.woff') format('woff'), url('../fonts/Vazir.ttf') format('truetype'), url('../fonts/Vazir.svg') format('svg');
		}

		@font-face {
		font-family: 'Hekayat';
		src: url('../fonts/Hekayat\ Font.ttf');
		}

		*{
			font-family: 'Vazir';
		}

	</style>
    {% block head %}
	
    {% endblock head %}
	
	<title> گالری تصاویر </title>
</head>
<body>
    {% block body %}
      
    {% endblock body %}
	<script src="https://kit.fontawesome.com/e9eb6e06c7.js" crossorigin="anonymous"></script>
</body>
</html>